<!DOCTYPE html>
<html lang="en" ng-app="gameApp">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Freaking Zombies</title>
</head>
<body ng-controller="appController" ng-keydown="keydown($event)" ng-keyup="keyup($event)" ng-mousemove="onMouseMove($event)" ng-mousedown= "onMouseDown($event)">
	
	<!--{{onMouseMoveResult}}</br> {{onMouseDownResult}}</br>-->
    <div data-ng-if="!instructionsDisplayed" class="instructions">
        <h1>freaking<font color="#6D8245" >Zombies</font></h1>
        <p>Kill zombies! Survive as long as you can!</p>
        <p>Arrow keys to move</p>
        <p>WSAD to fire</p>
        <br>
		<button id="playbutton" ng-click="play()">play</button><br><br>
		<p>Plays: {{plays}}</p>
		<p>Creators:<br>Jameson Saunders<br>Eric Hatch<br>Isaac Kurth<br></p>
		<p>April 2015</p>
		<p>Inspired from <a href="http://randolphburt.co.uk/2014/11/20/writing-an-html5-game-with-no-game-engine-just-angularjs-and-the-html5-canvas/">this</a> project</p>
    </div>
    <div data-ng-if="instructionsDisplayed" freaking-zombies-game/>

    <script src="App/lib/angular.min.js"></script>
    <script src="App/gameApp.js"></script>
    <script src="App/js/constants/global-settings.js"></script>
    <script src="App/js/constants/character-state.js"></script>
    <script src="App/js/constants/character-direction.js"></script>
    <script src="App/js/constants/game-state.js"></script>
    <script src="App/js/constants/sprite.js"></script>
    <script src="App/js/constants/board-location.js"></script>
    <script src="App/js/constants/coordinate-system.js"></script>
    <script src="App/js/services/utils.js"></script>
    <script src="App/js/services/key-press-handler.js"></script>
    <script src="App/js/services/graphics-engine.js"></script>
    <script src="App/js/services/game-board.js"></script>
    <script src="App/js/services/game.js"></script>
    <script src="App/js/services/render.js"></script>
    <script src="App/js/services/score-marker.js"></script>
    <script src="App/js/services/player.js"></script>
    <script src="App/js/services/zombie.js"></script>
    <script src="App/js/services/bullet.js"></script>
    <script src="App/js/services/game-state.js"></script>
    <script src="App/js/services/mouse.js"></script>
    <script src="App/js/services/save.js"></script>
</body>
</html>
