*
{
	font-family: 'courier';
}

body
{
	text-align: center;
	background-color: white;
	min-width: 950px;
	min-height: 600px;
}

#gameholder
{
	float: center;
	width: 100%;
}

#logdisplay
{
	outline-color: black;
	outline-width: 1px;
	outline-style: solid;
	width: 240px;
	height: 560px;
	overflow-y: scroll;

	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	float: right;
	text-align: left;
	font-size: 12px;
}

#rightside
{
	float: left;
	margin-right: 32px;
}

.functional
{
	float: left;
	width: 120px;
	height: 40px;
	font-size: 18px;
}

#loadinput
{
	float: left;
	width: 115px;
	height: 35px;
	font-size: 18px;
}

#playbutton
{
	float: center;
	font-size: 32px;
	width: 50%;
	height: 128px;
	color: #6D8245;
}

#content
{
	margin: 32px;
}

@font-face
{
	font-family: 'Handwriting'; 
	src: url('HandwritingDakota.ttf'); 
} 
